@import 'stylesheets/cards.css';
@import 'stylesheets/hero.css';
@import 'stylesheets/fonts.css';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
}

.bio-block {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
}

.skills-box  {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 8px auto;
  display: grid;
  column-gap: 10%;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
}

@media (max-width: 480px) {
  .skills-box {
    grid-template-columns: repeat(auto-fill, 70px);
  }
}

.skill-logo {
  height: 100%;
  width: 100%;
}
